/*  your css code here. If applicable */
body {
	background-color: #f5f5f5;
	padding:0px;
	margin:0px;
	
}
.nav{
	background-color:black;
	color:white;
	padding: 20px 10px;
     text-align: center;
}
.container {
	display:flex;
	justify-content:center;
	
}
.box-1{
	background-color:white;
	padding:10px;
	margin:10px;
	border-radius:20px;
}
.box-2{
	background-color:white;
	padding:10px;
	margin:10px;
	border-radius:20px;
}
p {
	text-align:center;
	width:200px;
}

.box-3 {
	display:flex;
	flex-direction:column;
	background-color:white;
	padding:10px;
	margin:10px;
	border-radius:20px;
}
img {
	width:100px;
	margin:8px;
}
h4 {
	text-align:center;
}